<div class="sidebar-item">
	<img src="{{ ASSET_PATH }}/images/Portrait15.jpg" alt="Mark Seemann" title="Mark Seemann" />
</div>
<div class="sidebar-item">
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NZEPYW8KVZ8WL">Buy me a cup of coffee</a>
</div>
<div class="sidebar-item">
	<a href="http://amzn.to/12p90MG">Buy my book <em>Dependency Injection in .NET</em></a>
</div>
<div class="sidebar-item">
	<a href="http://www.shareasale.com/r.cfm?u=1017843&b=611266&m=53701&afftrack=&urllink=www%2Epluralsight%2Ecom%2Fauthor%2Fmark%2Dseemann">Watch my Pluralsight courses</a>
</div>
<div class="sidebar-item">
	<a href="http://blog.ploeh.dk/schedule">Public speaking schedule</a>
</div>
<div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="ploeh">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<script id='flattrbtn'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=ploeh&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script>

<div>
  <br>
  <em>"Our team wholeheartedly endorses Mark. His expert service provides tremendous value."</em>
  <br>
  <a href="http://blog.ploeh.dk/hire-me">Hire me!</a>
</div>