<div class="sidebar-item">
	<img src="{{ ASSET_PATH }}/images/Portrait15.jpg" alt="Mark Seemann" title="Mark Seemann" />
</div>
<div class="sidebar-item">
	<a href="{{ site.url }}/support">Support the blog</a>
</div>
<div class="sidebar-item">
	<a href="/code-that-fits-in-your-head">Buy my book <em>Code That Fits in Your Head</em></a>
</div>
<div class="sidebar-item">
	<a href="/dippp">Buy my book about <em>Dependency Injection</em></a>
</div>
<div class="sidebar-item">
	<a href="{{ site.production_url }}/pluralsight-courses">Watch my Pluralsight courses</a>
</div>
<div class="sidebar-item">
	<a href="https://cleancoders.com/videos/humane-code-real">Watch my Clean Coders videos</a>
</div>
<div class="sidebar-item">
	<a href="/schedule">Public speaking schedule</a>
</div>
<div>
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="ploeh">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div>
	<table style="background-color:#E5E6E9;width:171pt;border-collapse:collapse;" cellpadding="0" cellspacing="0"
		border="0">
		<tbody>
			<tr>
				<td style="padding:0;">
					<img src="/content/binary/GOTO-logo.png" tabindex="0">
				</td>
			</tr>
			<tr>
				<td style="padding:0;">					
					<div style="max-width:100%;margin-right:12pt;margin-left:12pt;overflow:hidden;">
						<p style="font-size:12pt;font-family:Aptos,sans-serif;margin:0;"><span
								style="color:black;font-size:9pt;font-family:Helvetica,sans-serif;"><a
									target="_blank"
									href="https://gotocph.com/2024/masterclasses/433/2-days-tdd-and-legacy-code-testing"><span
										style="color:#272727;text-decoration:none;">2 Days: TDD and legacy code testing</span></a></span><span
								style="font-size:9pt;font-family:Helvetica,sans-serif;"></span></p>
						<p style="font-size:12pt;font-family:Aptos,sans-serif;margin:0;"><span
								style="color:black;font-size:8.5pt;font-family:Helvetica,sans-serif;"><a
									target="_blank"
									href="https://gotocph.com/2024/masterclasses/433/2-days-tdd-and-legacy-code-testing"><span
										style="color:gray;text-decoration:none;">gotocph.com</span></a></span></p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
  <br>
  <em>"Our team wholeheartedly endorses Mark. His expert service provides tremendous value."</em>
  <br>
  <a href="/hire-me">Hire me!</a>
</div>