<div class="sidebar-item">
	<img src="{{ ASSET_PATH }}ploeh/images/Portrait09.jpg" alt="Mark Seemann" title="Mark Seemann" />
</div>
<div class="sidebar-item">
	<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NZEPYW8KVZ8WL">Buy me a cup of coffee</a>
</div>
<div class="sidebar-item">
	<a href="http://affiliate.manning.com/idevaffiliate.php?id=1150_236">Buy my book <em>Dependency Injection in .NET</em></a>
</div>
<div class="sidebar-item">
	<a href="http://pluralsight.com/training/Courses/TableOfContents/outside-in-tdd">Watch my Pluralsight course</a>
</div>
<div class="sidebar-item">
	<a href="http://lanyrd.com/profile/ploeh/">Public speaking schedule</a>
</div>