<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 1C883B01-52AD-4E01-A9C3-C9BD9263CAE5 -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    {% if page.layout == "post" %}<link rel="canonical" href="{{ site.production_url | default: site.url }}{{ page.url }}">{% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Syndication auto-discovery -->
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS feed for {{ site.title }}">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="ATOM feed for {{ site.title }}">

    <!-- Google search author information -->
    <link rel="author" href="https://plus.google.com/100509078856689101462" />

    <!-- Le fav and touch icons -->
    <!--For IE 9 and below. ICO is 32x32 pixels is size.-->
    <!--[if IE]><link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicons/favicon.ico"/><![endif]-->

    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size.
         Ignoring iOS shine is intended. -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}{{ ASSET_PATH }}/images/favicons/apple-touch-icon-precomposed.png" />

    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size.-->
    <link rel="icon" href="{{ site.url }}{{ ASSET_PATH }}/images/favicons/favicon.png" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Twitter card -->
    {% if page.image %}<meta name="twitter:card" content="summary_large_image" />{% else %}<meta name="twitter:card" content="summary" />{% endif %}
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% endif %}
    {% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% else %}<meta name="twitter:image" content="{{ site.url }}{{ ASSET_PATH }}/images/favicons/favicon.png" />{% endif %}
    {% if page.image_alt %}<meta name="twitter:image:alt" content="{{ page.image_alt }}" />{% endif %}

    <!-- open graph -->
    <meta name="og:url" content="{{ page.url | absolute_url }}" />
    <meta name="og:title" content="{{ page.title }}" />
    {% if page.description %}<meta name="og:description" content="{{ page.description }}">{% endif %}
    {% if page.image %}<meta name="og:image" content="{{ site.url }}{{ page.image }}" />{% else %}<meta name="og:image" content="{{ site.url }}{{ ASSET_PATH }}/images/favicons/favicon.png" />{% endif %}
    {% if page.image_alt %}<meta name="og:image:alt" content="{{ page.image_alt }}" />{% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-833CB0M585"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-833CB0M585');
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages | sort: "name" %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} {% if page.date %} {{ page.date | date: "%Y" }} {% else %} 2009 - {{ site.time | date: "%Y" }} {% endif %}
            <span class="hidden-print">with help from <a href="https://jekyll-bootstrap-3.github.io/" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></span>
        </p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
  </body>
</html>
