<!DOCTYPE html>
<html lang="en">
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Content moved</title>
    <meta name="author" content="Mark Seemann">
    <meta http-equiv="refresh" content="0;{{ page.redirect_target }}">
    <script language="javascript">
        window.location.href = "{{ page.redirect_target }}"
    </script>
  </head>
  <body>
    This page has moved to <a href="{{ page.redirect_target }}">{{ page.redirect_target }}</a>.
  </body>
</html>